@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
	font-family: Rubik;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p {
	line-height: 1.2;
}

button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.increase-btn:is(:hover, :focus, :active) svg path {
	cursor: pointer;
	fill: #5457b6;
}

.decrease-btn:is(:hover, :focus, :active) svg path {
	cursor: pointer;
	fill: #5457b6;
}

.update-textarea {
	width: 100%;
	padding-inline: 20px;
	padding-block: 10px 20px;
	border: 1px solid #eaecf1;
	border-radius: 6px;
}

textarea {
	width: 100%;
	height: 100px;
	overflow: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

textarea::-webkit-scrollbar {
	display: none;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

.delete-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 32px;
	border-radius: 10px;
	z-index: 2000;
	width: 100%;
	max-width: 400px;
}

.update-btn {
	background-color: hsl(238, 40%, 52%);
	display: flex;
	align-self: self-end;
	width: fit-content;
	color: white;
	font-weight: 600;
	padding-inline: 28px;
	padding-block: 14px;
	border-radius: 8px;
	cursor: pointer;
	margin-block-start: 6px;
}
